.my-button {
            padding: 10px 20px;
            background-color: #ffc400;
            color: #e4e6f0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .my-button:hover {
            background-color: #c39a12;
            color: #060e35;
        }

        .my-button:active {
            background-color: #efc538;
            color: #253061;
        }