.my-button {
                padding: 10px 20px;
                background-color: #22b8cf;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .my-button:hover {
                background-color: #1a8a9b;
                color: #ffffff;
            }

            .my-button:active {
                background-color: #22b8cf;
                color: #003070;
            }

            /* Botón 2 */
            .my-button-2 {
                padding: 10px 20px;
                background-color: #ffc400;
                color: #003070;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .my-button-2:hover {
                background-color: #c19912;
                color: #003070;
            }

            .my-button-2:active {
                background-color: #ffc400;
                color: #003070;
            }

            .select2-container .select2-selection--single {
                height: 40px;
                /* Cambia la altura según lo necesites */
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 6px;
            }

            /* Botón 2 */